
/* body: Setting base styling for the whole webpage. */

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    background-color:  rgba(193, 223, 252, 0.9);
}

/* .main-header: Setting styling for the main-header class, containing text in a header and adding a background image. */

.main-header {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
    font-size: 45px;
    background-image: url("../images/header1.jpg");
    background-size: cover;
    background-position: center;
    border-style: inset;
    border-color: white;
    padding-left: 25px;
    color: white;
    font-style: italic;
    
}

/* .links and nav a: These are for the navbar, setting text settings, making a border, and creating a background gradient */

.links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: linear-gradient(
        rgba(107, 236, 172, 0.9) 0%,
        #c1e3ee 100%
    );
    font-size: 25px;
}
nav a{
    padding: 14px 20px;
    margin: 25px;
    display:flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-style:inset;
    border-color:white;
}

/*nav a:hover: Sets a box shadow in and around the border of the links in the navbar when the cursor hovers over them. */

nav a:hover{
    box-shadow: inset 0px 0px 8px rgb(68, 65, 119), 0 0 35px rgb(68, 65, 119);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .5s ease;
}

/* section h2: Makes the headers of the different sections format to the center of the webpage. */

section h2{
    display: flex;
    justify-content: center;
}

/* section p: Makes the paragraphs of the different sections format to the center of the webpage and edits the text properties. */

section p{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-left:30%;
    margin-right: 30%;
    color: rgb(68, 65, 119);
    font-weight:bold;
}

/*.about-me, .work, .contact-me, and .resume h2s: All of these set the properties for the headers of the different sections. Centering them, edititng the text
properties, making a border, and setting a background gradient. */

.about-me h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100px;
    font-size:30px;
    border-style: inset;
    border-color: white;
    background-image: linear-gradient(
        rgba(35, 125, 141, 0.3) 0%,
        rgba(107, 236, 172, 0.9) 100%
    );
    color:rgb(68, 65, 119);
    margin-left: 25%;
    margin-right: 25%;
}
.work h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100px;
    font-size:30px;
    border-style: inset;
    border-color: white;
    background-image: linear-gradient(
        rgba(35, 125, 141, 0.3) 0%,
        rgba(107, 236, 172, 0.9) 100%
    );
    color:rgb(68, 65, 119);
    margin-left: 25%;
    margin-right: 25%;
}
.contact-me h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100px;
    font-size:30px;
    border-style: inset;
    border-color: white;
    background-image: linear-gradient(
        rgba(35, 125, 141, 0.3) 0%,
        rgba(107, 236, 172, 0.9) 100%
    );
    color:rgb(68, 65, 119);
    margin-left: 25%;
    margin-right: 25%;
}
.resume h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100px;
    font-size:30px;
    border-style: inset;
    border-color: white;
    background-image: linear-gradient(
        rgba(35, 125, 141, 0.3) 0%,
        rgba(107, 236, 172, 0.9) 100%
    );
    color:rgb(68, 65, 119);
    margin-left: 25%;
    margin-right: 25%;
}

/* .work ul: Gets rid of the bullets in the list and aligns the Work images to the center of the webpage. */

.work ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

/* .image1-5: Sets the size for the images and adds a border to them. */

.image1{
    height: 500px;
    width: 900px;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: white;
}

/* .image1-5:hover: Sets a box shadow around the images and makes the images slightly transparent when the cursor hovers over them. */

.image1:hover{
    box-shadow: inset 0px 0px 8px rgb(68, 65, 119), 0 0 35px rgb(68, 65, 119);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    transition: .5s ease;
}
.image2{
    height: 300px;
    width: 300px;
    border-style: solid;
    border-color: white;
}
.image2:hover{
    box-shadow: inset 0px 0px 8px rgb(68, 65, 119), 0 0 35px rgb(68, 65, 119);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    transition: .5s ease;
}
.image3{
    height: 300px;
    width: 300px;
    border-style: solid;
    border-color: white;
}
.image3:hover{
    box-shadow: inset 0px 0px 8px rgb(68, 65, 119), 0 0 35px rgb(68, 65, 119);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    transition: .5s ease;
}
.image4{
    height: 300px;
    width: 300px;
    border-style: solid;
    border-color: white;
}
.image4:hover{
    box-shadow: inset 0px 0px 8px rgb(68, 65, 119), 0 0 35px rgb(68, 65, 119);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    transition: .5s ease;
}
.image5{
    height: 300px;
    width: 300px;
    border-style: solid;
    border-color: white;
}
.image5:hover{
    box-shadow: inset 0px 0px 8px rgb(68, 65, 119), 0 0 35px rgb(68, 65, 119);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    transition: .5s ease;
}

.image6{
    height: 500px;
    width: 900px;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: white;
}

.image6:hover{
    box-shadow: inset 0px 0px 8px rgb(68, 65, 119), 0 0 35px rgb(68, 65, 119);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    transition: .5s ease;
}


/* .contact-me li: Gets rid of the bullets in the list. */

.contact-me li{
    list-style-type: none;
}

/* .contact-me a: Edits the text properties of the list items in the contact me section (Email, Github). Adds a border and a background gradient. */

.contact-me a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: rgb(68, 65, 119);
    font-weight: bold;
    border-style:inset;
    border-color:white;
    margin-left: 45%;
    margin-right: 45%;
    font-size: 25px;
    background-image: linear-gradient(
        rgba(35, 125, 141, 0.3) 0%,
        rgba(107, 236, 172, 0.9) 100%
    );
}

/* .contact me a:hover: Adds a box shadow in and around the border of the links when the cursor hovers over them. */

.contact-me a:hover{
    box-shadow: inset 0px 0px 8px rgb(68, 65, 119), 0 0 35px rgb(68, 65, 119);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .5s ease;
}

/* .links a and .main-header: Supposed to make the navbar stack on top of each other when the screen size shrinks. Also supposed to change the header image to 
a gradient when the screen size shrinks. Currently does not work. */

@media screen and (max-width: 768px){
    .links a{
        display: flex;
        flex-wrap: wrap;
        flex-direction:column;
    }

    .main-header{
        background-image: linear-gradient(
            rgba(35, 125, 141, 0.3) 0%,
            rgba(107, 236, 172, 0.9) 100%
        );
    }
}